@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  /* Always use root variables */
  @apply bg-background text-foreground;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: theme(color.zinc.950);
  --foreground: theme(color.white);
  --card: theme(color.zinc.900);
  --card-foreground: theme(color.white);
  --popover: theme(color.zinc.950);
  --popover-foreground: theme(color.white);
  --primary: theme(color.purple.600);
  --primary-foreground: theme(color.white);
  --secondary: theme(color.white);
  --secondary-foreground: theme(color.purple.600);
  --muted: theme(color.white);
  --muted-foreground: theme(color.slate.400);
  --accent: theme(color.white);
  --accent-foreground: theme(color.purple.600);
  --destructive: theme(color.red.500);
  --border: theme(color.zinc.800);
  --input: theme(color.zinc.800);
  --ring: theme(color.zinc.700);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: theme(color.white);
  --sidebar-foreground: theme(color.white);
  --sidebar-primary: theme(color.purple.600);
  --sidebar-primary-foreground: theme(color.white);
  --sidebar-accent: theme(color.white);
  --sidebar-accent-foreground: theme(color.purple.600);
  --sidebar-border: theme(color.slate.400);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

.test{
  --background: theme(color.zinc.900);
  --foreground: theme(color.white);
  --card: theme(color.zinc.800);
  --card-foreground: theme(color.white);
  --popover: theme(color.zinc.800);
  --popover-foreground: theme(color.white);
  --primary: theme(color.purple.600);
  --primary-foreground: theme(color.white);
  --secondary: theme(color.fuchsia.700);
  --secondary-foreground: theme(color.zinc.100);
  --muted: theme(color.neutral.500);
  --muted-foreground: theme(color.white);
  --accent: theme(color.fuchsia.700);
  --accent-foreground: theme(color.zinc.100);
  --destructive: theme(color.red.500);
  --destructive-foreground: theme(color.white);
  --border: theme(color.neutral.700);
  --input: theme(color.zinc.800);
  --ring: theme(color.zinc.600);
  --chart-1: theme(color.purple.600);
  --chart-2: theme(color.fuchsia.700);
  --chart-3: theme(color.purple.600);
  --chart-4: theme(color.fuchsia.700);
  --chart-5: theme(color.purple.600);
  --sidebar: theme(color.zinc.900);
  --sidebar-foreground: theme(color.white);
  --sidebar-primary: theme(color.purple.600);
  --sidebar-primary-foreground: theme(color.white);
  --sidebar-accent: theme(color.fuchsia.700);
  --sidebar-accent-foreground: theme(color.zinc.900);
  --sidebar-border: theme(color.neutral.700);
  --sidebar-ring: theme(color.zinc.600);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
